body {
    background-color: #69D2E7;
}
#title {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#quote-box {
    background-color: #eff;
    color: #69D2E7;
    min-height: 210px;
    min-width: 200px;
    max-width: 540px;
    margin: 100px auto;
    padding: 40px;
    overflow: hidden;
    border-radius: 1%;
}
#quote {
    font-size: 32px;
    min-height: 100px;
}
#author {
    font-size: 18px;
    text-align: right;
    margin-top: 20px;
    min-height: 50px;
}
.buttons {
    min-height: 45px;
}
.buttons button {
    background-color: #69D2E7;
    color: #fff;
    font: 1.2em 'Helvetica Nue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5%;
}
.buttons button:focus {
    outline: none;
}
.buttons button:hover {
    cursor: pointer;
    background-color: #7bd7ea;
}
#tweetButton {
    font-size: 1.5em;
    float: left;
    height: 45px;
    width: 45px;
}
#tweetButton:active {
    padding-top: 11px;
    padding-left: 11px;
}
#quoteButton {
    float: right;
    height: 45px;
    width: 120px;
}
#quoteButton:active {
    padding-top: 13px;
    padding-left: 13px;
}

@media only screen and (max-width: 500px) {
    #quote-box {
        max-width: 480px;
        min-width: 180px;
        padding: 15px;
        margin: 20px 0;
    }
}
